.item{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 10px;
}
img{
    width:20%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item-img{
    width: 25%;
    float: left;
    padding: 10px;
    cursor: pointer;
}